@import '../../scss/mixin';
.settings-container {
  @include flex-center();
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
  border-radius: 10px;

  .settings-title {
    flex: 1 0 100%;
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    font-size: 32px;
  }
  .config-container {
    @include flex-center();
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  .settings-volume,
  .settings-time {
    flex: 0 1 50%;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid 2px #ffffff;
    .volume-container {
      @include flex-center();
      column-gap: 20px;
      .volume-button {
        height: 20px;
        width: 20px;
        align-items: center;
        background: url('../assets/img/icons/sound_PNG6.png');
        background-size: contain;
        z-index: 200;
      }
      label {
        color: white;
        text-transform: uppercase;
        font-size: 22px;
      }
      input {
        width: 30px;
        height: 30px;
      }
    }
    #volumeValue,
    #timerValue {
      width: 100px;
    }

    #timerValue {
      height: 30px;
      border-radius: 5px;
      font-size: 16px;
    }
    .timer-container {
      @include flex-center();
      column-gap: 20px;
      .timer-button {
        height: 30px;
        width: 30px;
        align-items: center;
        background: url('../assets/img/icons/timer-off.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 200;
      }
      label {
        color: white;
        text-transform: uppercase;
        font-size: 22px;
      }
      input {
        width: 30px;
        height: 30px;
      }
    }
    label {
      color: white;
      text-transform: uppercase;
      font-size: 22px;
    }
    .volume-title,
    .time-title {
      text-align: center;
      color: white;
      text-transform: uppercase;
    }

    .volume-button-mute {
      height: 20px;
      width: 20px;
      align-items: center;
      background: url('../assets/img/icons/sound.png');
      background-size: contain;
      z-index: 200;
    }
    .volume-slider {
      margin: 0 10px;
      width: 60%;
      height: 10px;
      background: white;
      .volume-percentage {
        background: coral;
        height: 100%;
        width: 70%;
      }
    }
  }
  .tentacles,
  .tentacles {
    margin-left: 40%;
    color: black;
  }
}
