body{
    background: #000;
}
footer{
    display: flex;
    justify-content: space-around;
    color: white;
    .link-github{
        background-image: url('../assets/img/png/648256.png');
        background-size: contain;
        width: 50px;
        height: 50px;
    }
    .year{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
    }
    .link-school{
        background-image: url('../assets/img/png/logo_rs_text.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 50px;
    }
}
.application-container{
    background: #000;
    background-image: url('../assets/img/1581998253_dark-minimalist_vsthemes_ru-27.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    min-width: 320px;
    height:90vh;
    margin: 0 auto;
    .btn-settings{
        background:none;
        background-image: url('../assets/img/png/260867.png');
        background-size: cover;
        width: 50px;
        height: 50px;
    }
    .content-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 80%;
    h1{
        text-align: center;
        flex: 0 1 100%;
        color: white;
        text-transform: uppercase;
        font-family: arial;
        height: 10%;
        font-size: 54px;
    }  
    .artists-quiz{
        flex: 0 1 50%;
        background-image: url('../assets/img/dali-photo.jpg');
        background-size: cover;
        max-width: 120px;
        height: 120px;
        border-radius: 50px;
        border: solid 2px white;
        button{
            background: none;
            color: white;
            border: white solid 2px;
            border-radius: 5px;
            width: 120px;
            height: 40px;
            position: relative;
            top: 130px;
            text-transform: uppercase;
        }
    }
    .pictures-quiz{
        flex: 0 1 50%;
        background-image: url('../assets/img/dalitime.jpg');
        background-size: cover;
        max-width: 120px;
        height: 120px;
        border-radius: 50px;
        border: solid 2px white;
        button{
            background: none;
            color: white;
            border: white solid 2px;
            border-radius: 5px;
            width: 120px;
            height: 40px;
            position: relative;
            top: 130px;
            text-transform: uppercase;
        }
    }
    }
}