@import '../app/app';
@import '../components/settings/settings';
@import '../components/card/card';
@import '../components/game/game';
@import '../components/game/games/picture/picture';
@import '../components/game/games/artist/artist';
@import '../components/modal/modal';
@import './mixin';

body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

footer {
  position: fixed;
  background: black;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  .link-github {
    background-image: url('../assets/img/icons/648256.png');
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  .year {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
  }
}

header {
  @include flex-center();
  column-gap: 20px;
  h1 {
    margin: 0;
    display: inline;
    text-align: right;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    height: 10%;
    font-size: 54px;
  }
  .start-page-btn {
    @include button();
  }
  .btn-settings {
    width: 50px;
    background: none;
    background-image: url('../assets/img/icons/carbon_settings.png');
    background-size: contain;
    max-width: 50px;
    height: 50px;
    border: none;

    &:hover {
      animation: spin 5s linear 0s infinite;
    }
    &:active {
      animation: spin 2s linear 0s infinite;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.hide {
  display: none;
}
