@import '../app/app';
@import '../components/settings/settings';
@import '../components/card/card';
@import '../components/game/game';
@import '../components/game/games/picture/picture';
@import '../components/game/games/artist/artist';
@import '../components/modal/modal';

body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: arial;
}

footer {
  position: fixed;
  background: black;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: white;
  .link-github {
    background-image: url('../assets/img/icons/648256.png');
    background-size: contain;
    width: 50px;
    height: 50px;
  }
  .year {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
  }
  .link-school {
    background-image: url('../assets/img/icons/logo_rs_text.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 50px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0 50px;
    display: inline;
    text-align: right;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    height: 10%;
    font-size: 54px;
  }
  .btn-settings {
    width: 50px;
    background: none;
    background-image: url('../assets/img/icons/carbon_settings.png');
    background-size: contain;
    max-width: 50px;
    height: 50px;
    border: none;

    &:hover {
      animation: spin 5s linear 0s infinite;
    }
    &:active {
      animation: spin 2s linear 0s infinite;
    }
  }
  .start-page,
  #btn-categories {
    background: none;
    color: white;
    border: white solid 2px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
  }
}

.question-pictures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  #pictures-button-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;
    column-gap: 30px;
    #pictures-answer-button {
      width: 45%;
      height: 200px;
      background-size: contain;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-question {
  flex: 1 0;
  display: block;
  margin: 0 auto;
}

.hide {
  animation: 1s hideLeft forwards;
  display: none !important;
}
.show {
  display: flex !important;
  animation: 1s showLeft forwards;
}
@keyframes hideLeft {
  from {
    transform: none;
  }

  to {
    transform: translateX(110%);
  }
}
@keyframes showLeft {
  from {
    transform: translateX(110%);
  }

  to {
    transform: none;
  }
}

.button-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.result-picture {
  background: url('../assets/img/icons/si-glyph_champion-cup.png');
  width: 200px;
  height: 200px;
  margin: 50px auto;
}
.question {
  color: white;
  font-size: 32px;
  text-align: center;
}
.result-button-card {
  align-self: flex-end;
  background: rgb(255, 163, 163);
  opacity: 0.3;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}
.result-page {
  background: black;
  display: flex;
  max-width: 100%;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  margin-top: 120px;
}
.result-question-card {
  width: 150px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color: white;
  text-align: center;
  align-self: start;
  text-transform: uppercase;
  height: 150px;
  border-radius: 30px;
  background-size: cover;
}
.timer-container {
  width: 200px;
  margin: 10px auto;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: 2px white solid;
}
.volume-on-off {
  width: 30px;
  height: 30px;
}
.volume-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  text-transform: uppercase;
  span {
    display: block;
  }
}

#home-btn,
#next-quiz-btn {
  margin: 0;
}
