.answer-button-picture {
  color: white;
  border: white solid 2px;
  border-radius: 5px;
  height: 40px;
  position: relative;
  width: 210px;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
}
