@import '../../scss/mixin';
.modal {
  @include flex-center();
  position: fixed;
  z-index: 1111;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  button {
    @include button();
  }
  .result {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .result-title {
    font-size: 22px;
  }
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    height: 450px;

    figure {
      flex-grow: 0;
      flex-shrink: 1;
      height: 300px;
      img {
        object-fit: cover;
        height: 300px;
      }
    }
    h2 {
      margin: 0;
      text-transform: uppercase;
    }
    .modal-content-description {
      flex-grow: 0;
      text-transform: uppercase;
      font-style: 32px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      text-align: center;
      justify-content: center;
      width: 300px;
      p {
        margin: 0;
      }
    }
  }
}

.congratulations-buttons {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  .modal-start-page-btn,
  .modal-next-quiz-btn {
    @include button();
    color: black;
    border: black 2px solid;
  }
}
