.result-cards-container {
  color: white;
}
.resultpage-quiz-card-picture {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 10px;
}
.resultpage {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.resultpage-cards-container {
  width: 900px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.result-page-btn {
  @include button();
  color: white;
  border: 2px solid white;
}
.result-page-title {
  color: white;
}
.result-page-description {
  color: white;
}
.timer-container-question {
  color: white;
  border-radius: 100%;
  font-size: 26px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 3px solid rgb(255, 163, 163);
  margin: 10px 0;
}
